@import 'mixins';

$sansFont: "Source Sans Pro", sans-serif;
$serifFont: "IM Fell English SC", serif;
$serifFontNormal: "IM Fell English", serif;

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


body {
  font-family: $sansFont;
  background-color: snow;
  font-weight: lighter;
  padding-bottom: 40px;
  color: #5a5a5a;
  font-size: 14px;
  height: 100vh;
  width: 100%;
}

.navbar-brand {
  font-family: $serifFont;
  font-size: 18px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-default {
	background: rgba(255, 255, 255, 0.15);

	@include bp-phone {
		background: rgba(8,8,8,0.5);
	}
}
.navbar-default .navbar-brand {
	color: rgba(0,0,0,.25);
	font-size: 180%;
	transition: all 0.5s ease-in-out;

	@include bp-phone {
		color: rgba(255,255,255,0.57);
		font-size: 130%;
	}
}
.navbar-default .navbar-brand:hover {
	color: gainsboro;
	text-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}
.navbar-default .navbar-nav>li>a {
	color: black;

	@include bp-phone {
		color: gainsboro;
	}
}
.navbar-fixed-top {
	border: 0;
}
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

/* Dropdown Menu Customize */
.navbar-right .dropdown-menu {
	top: 100%;
	left: 0;
	min-width: 133px;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	@include bp-phone {
		color: gainsboro;
	}
	
}

/* HEADER BACKGROUND */
header {
	height: 80%;
	width: 100%;
	min-height: 500px;
	background-color: transparent;
	background: url('../img/brand-img-may-resize.jpg') no-repeat 0 0;
	background-size: cover;

	@include bp-phone {
		min-height: 250px;
	}
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
	background: rgba(80,62,62,0.44);
	color: white;
}

.branding-container {
	margin-top: 50px;
	width: 100%;
	height: calc(100% - 50px);
	position: relative;

	@include bp-phone {
		height: 350px; 
	}
}

.branding {
	text-align: center;
	color: white;
	position: absolute;
	bottom: 30%;
	left: 20%;
	right: 20%;
	text-shadow: 0 3px 5px rgba(0,0,0,0.6);

	@include bp-phone {
		top: 50px;
		bottom: auto;
	}
}

.branding h1 {
	font-family: $serifFont;
	font-size: 550%;
	
	@include bp-phone {
		font-size: 300%;

	}

}

.branding p {
	font-size: 135%;
	color: gainsboro;

	@include bp-phone {
		font-size: 100%;
	}
}

/* Main area styling */
.main {
	margin-top: 80px;

	@include bp-phone {
		margin-top: 30px;
	}
}

#portfolio {
	background: gainsboro;
	padding-top: 50px;
}

#about h2,
#portfolio h2 {
	font-family: $serifFont;
	font-size: 400%;
	text-transform: lowercase;
	color: darkgrey;

}

.brand-font {
	font-family: $serifFont;
}

.lead {
	font-family: $serifFontNormal;
	font-size: 18px;
	line-height: 1.5em;
	margin-top: 20px;

	@include bp-phone {
		font-family: $sansFont;
		padding: 10px;
	}
}

.divider {
	margin: 80px 0;

	@include bp-phone {
		margin: 30px 0;
	}
}

.item h3 {
	font-size: 265%;
	font-family: 'Raleway', sans-serif;
	line-height: 1;
	letter-spacing: -1px;

	@include bp-phone {
		font-size: 180%;
		letter-spacing: normal;
	}
}

.item p {
	font-size: 18px;

	@include bp-phone {
		text-align: justify;
	}
	
}

.item img {
	margin-top: 20px;
	background-color: transparent;
}

.item .btn {
	border-radius: 0;
	border: none;
}

footer p {
	width: 100%;
	padding: 20px;
	border-top: 1px solid #ccc;
	font-size: 12px;
	text-align: center;
	display: inline-block;
}
