<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Help Me Choose!</title>
	<link href='//fonts.googleapis.com/css?family=Lobster|Indie+Flower|Roboto:400,100' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/styler.css">
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body ng-controller="ListController as listCtrl">
	<div class="container-fluid" ng-controller="TabController as tab">
		<div class="row">
			<div class="col-md-12 custom-header">
				<h1 id="title" class="text-center"><a href="index.html">Help Me Choose!</a></h1>
				<h4> Having trouble making decisions? Let me help!</h4>	
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<ul class="nav nav-tabs nav-justified">
					<li class="col-xs-4" ng-class="{active:tab.isSelected(1)}">
						<a href ng-click="tab.selectTab(1); listCtrl.selectList()">
							<span class="numbering">1. </span> 
							<span class="function-name text-nowrap"> Choose from a new list </span>
						</a>
					</li>
					<li class="col-xs-4" ng-class="{active:tab.isSelected(2)}">
						<a href ng-click="tab.selectTab(2)">
							<span class="numbering">2. </span> 
							<span class="function-name text-nowrap"> Choose from saved lists </span>
						</a>
					</li>
					<li class="col-xs-4" ng-class="{active:tab.isSelected(3)}">
						<a href ng-click="tab.selectTab(3)">
							<span class="numbering">3. </span>
							<span class="function-name text-nowrap"> Give me a number </span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row tab-deco">
			<div class="col-md-12">
				<div class="col-xs-10 col-xs-offset-1" ng-show="tab.isSelected(1)">
					<new-panel></new-panel>
				</div>
				<div class="col-xs-10 col-xs-offset-1" ng-show="tab.isSelected(2)">
					<preset-panel></preset-panel>
				</div>
				<div class="col-xs-10 col-xs-offset-1" ng-show="tab.isSelected(3)">
					<num-panel></num-panel>
				</div>
			</div>
		</div>
	</div>
	<script src="script/directives/num.js"></script>
	<script src="script/app.js"></script>
</body>
</html>