<div class="row">
	<div class="col-lg-12" id="numHead">
		<h2 class="tab-title">
		<span class="glyphicon glyphicon-question-sign"></span> Randomly choose a number in between...</h2>
	</div>
</div>
<div class="row">
	<div class="col-xs-8" id="numFormContainer">
		<form id="numForm" class="form-inline" ng-submit="num.getRandom()" novalidate>
			<div class="form-group">
				<div class="input-group input-group-lg">
					<span class="input-group-addon">From </span>
					<input class="form-control input-lg" type="number" name="numStart" placeholder="Start" size=10 ng-model="num.start" required>
				</div>
				<div class="input-group input-group-lg">
					<span class="input-group-addon">To </span>
					<input class="form-control input-lg" type="number" name="numEnd" placeholder="End" size=10 ng-model="num.end" required>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-lg-12">
					<div class="center-block">
						<button type="submit" class="btn btn-warning">Get Random!</button>
						<button type="reset" class="btn btn-info" ng-click="num.unDefineNum()">Clear</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="col-xs-4">
		<button type="button" class="btn btn-default numResult" ng-show="num.isNumDefined()">{{num.randomNum}}</button>
	</div>
</div>
