
html {
	height: 100%;
}

body {
	height: 100%;
	font-family: Helvetica;
	font-weight: lighter;
	font-size: 16px;
	line-height: 1.4em;
}

.nav {
	display: block;
	width: 100%;
	height: 15%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

#map-canvas {
	height: 100%;
	width: 100%;
}

.container {
	width: 100%;
	height: 100%;
}

.main {
	width: 100%;
	height: 85%;
	position: relative;
}

.form-container {	
	width: 80%;
	margin-right: 0;
	margin-left: 0;
}

#info {
	padding: 15px;
	text-align: center;
	color: #7F007F;
	font-size: 0.9em;
}

#listView {
	max-width: 20%;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 99;
	opacity: 0.9;
	background-color: #FFFFFF;
	padding: 15px;
	font-size: 0.9em;
}

#setMapForm {
	display: flex;
	padding: 10px;
	vertical-align: middle;
	text-align: center;
}

/*input[type="text"] {
	line-height: 28px;
}*/

#crimeButton {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
}