<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> - Rachel Lin</title>
	<meta name="robots" content="INDEX,FOLLOW" />
	<meta name="robots" content="noimageindex">
	<meta name="description">
	<link href='//fonts.googleapis.com/css?family=PT+Sans|Lato:300,700|Lobster' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="//cdn.linearicons.com/free/1.0.0/icon-font.min.css">
	<link rel="stylesheet" src="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />
	<link rel="stylesheet" href="css/style.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
</head>
<body ng-controller="TabController as tab">
<div class="container-wrapper">
	<!-- container -->
	<div class="container">
		<!-- left-column -->
		<div class="left-column">
		</div><!--/left-column-->
		<!-- middle-column -->
		<div class="middle-column">
			<div class="middle-circle section-selector" ng-click="tab.selectTab('resume')">
				<a href="#">Resume</a>
			</div>
			<div class="middle-circle section-selector" ng-click="tab.selectTab('portfolio')">
				<a href="#">Portfolio</a>
			</div>
			<div class="middle-circle section-selector" ng-click="tab.selectTab('about')">
				<a href="#">Contact</a>
			</div>
		</div><!--/middle-column-->
		<!-- right-column -->
		<div class="right-column">
			<div class="branding">
				<h1><a href="#" ng-click="tab.selectTab('about')"><span class="lnr lnr-leaf"></span> Rachel Lin</a></h1>
			</div>
			<div class="main" ng-show="tab.isSelected('about')">
				<about-tab></about-tab>
			</div>
			<div class="main" ng-show="tab.isSelected('resume')">
				<resume-tab></resume-tab>
			</div>
			<div class="main" ng-show="tab.isSelected('portfolio')">
				<portfolio-tab></portfolio-tab>
			</div>
<!-- 			<div class="main" ng-show="tab.isSelected('contact')">
				<contact-tab></contact-tab>
			</div> -->
		</div><!--/right-column-->
	</div><!--/container-->
</div>
	<!-- Load scripts -->
	<script src="script/app.js"></script>
	<!-- End of scripts -->
</body>
</html>