<h1 class="section-title">Resume</h1>
<div class="section-description resume">
	<h2 class="resume-subtitle">
		<a href="#" ng-mouseover="expander2={visibility: 'visible'}" ng-mouseout="expander2={visibility: 'hidden'}" ng-click="resume.toggleSection(2)"><i class="fa fa-plus expander" ng-style="expander2"></i> Skills</a>
	</h2>
	<ul ng-show="resume.show[2]" class="resume-item">
		<li><span class="strong">Front End Development skills</span>: hand-coding HTML and CSS, vanilla JavaScript, Bootstrap, jQuery, AngularJS, Knockout.js, LESS, Photoshop, GIMP etc. </li>
		<li><span class="strong">Backend Development skills</span>: Python, some experience in PHP and MySQL</li>
	</ul>
</div>
<div class="section-description resume">
	<h2 class="resume-subtitle">
		<a href="#" ng-mouseover="expander0={visibility: 'visible'}" ng-mouseout="expander0={visibility: 'hidden'}" ng-click="resume.toggleSection(0)"><i class="fa fa-plus expander" ng-style="expander0"></i> Working Experience</a>
	</h2>
	<ul ng-show="resume.show[0]" class="resume-item">
		<li>2001 ~ 2003 <br><span class="strong">Webmaster</span> of Academia Sinica Institute of Astronomy and Astrophysics (ASIAA), Taiwan </li>
		<hr class="divider">
		<li>2015 ~ current <br><span class="strong">Freelance Front End Developer; Freelance Academic Translator / Translation Reviewer</li>
		<hr class="divider">
		<li>2011 ~ 2014 <br>
		<span class="strong">Assistant Astronomer</span> of ASIAA/RCUH</li>		
		<hr class="divider">
		<li>2004 ~ 2005 <br>
		<span class="strong">Research Assistant</span> of ASIAA</li>

	</ul>
</div>
<div class="section-description resume">
	<h2 class="resume-subtitle">
		<a href="#" ng-mouseover="expander1={visibility: 'visible'}" ng-mouseout="expander1={visibility: 'hidden'}" ng-click="resume.toggleSection(1)"><i class="fa fa-plus expander" ng-style="expander1"></i> Education</a>
	</h2>
	<ul ng-show="resume.show[1]" class="resume-item">
		<li><span class="strong">2011 PhD Candidate</span> in Physics, University of California, San Diego. </li>
	</ul>
</div>
