body {
	font-size: 16px;
	line-height: 1.2em;
	font-family: Helvetica;
	font-weight: lighter;
	background-color: lightseagreen;
}

a, a:hover, a:visited {
	text-decoration: none;
	color: inherit;
}

#title {
	font-size: 3.0em;
	font-family: 'Indie Flower', cursive;
	color: #fff;
	font-weight: normal;
	text-shadow: darkgray -2px -2px 2px;
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.tab-title {
	font-size: 2.0em;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	padding: 20px 0;
}

.custom-header > h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	color: azure;
	padding-bottom: 15px;
}

.custom-header {
	width: 100%;
	height: 250px;
	padding: 30px 10px 30px 10px;
	vertical-align: middle;
	text-align: center;
}

.numbering {
	font-family: 'Lobster', cursive;
	font-size: 3em;
	color: #FF8000;
}

.tab-deco {
	background: #FFFFFF;
	/*border: 1px solid #CCC;*/
	border-color: #CCCCCC;
	height: calc(100vh - 340px);
}

.nav-tabs > li > a {
	border-bottom-width: 0px !important;
}

.chosen {
	color: #FFFFFF;
	background: red;
}

.numResult {
	text-align: center;
	vertical-align: middle;
	/*padding-top: 20px;*/
	color: #FFFFFF;
	height: 100px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	font-size: 4em;
	background-color: #800000;
	text-shadow: darkgray 1px 1px 2px;
}

/*input[type="number"] {
	height: 120px;
	width: 120px;
	font-size: 2.0em;
}*/

@media (max-width: 400px) {

	#title {
		font-size: 1.5em;
	}

	.function-name {
		display: none;
	}

	.nav-tabs.nav-justified > li {
		display: table-cell;
		width: 1%;
	}

	.nav-justified > li > a {
		margin-bottom: 0;
		text-align: center;
	}

	.custom-header {
		height: 180px;
		padding-top: 15px;
	}

	.tab-deco {
		height: calc(100vh - 270px);
	}


}

@media (max-width: 850px) {

	#title {
		font-size: 3.0em;
	}

	.custom-header {
		height: 200px;
		padding-top: 15px;
	}

	.tab-deco {
		height: calc(100vh - 290px);
	}

	.function-name {
		display: none;
	}

	.nav-tabs.nav-justified > li {
		display: table-cell;
		width: 1%;
	}

	.nav-tabs.nav-justified > li > a {
		margin-bottom: 0 !important;
		text-align: center;
		border-radius: 4px 4px 0 0;
	}


}

@media (min-width: 851px) {

	#title {
		font-size: 4.5em;
	}

	.function-sm {
		display: none;
	}

}