body {
	font-size: 16px;
	line-height: 1.2em;
	font-family: Helvetica;
	font-weight: lighter;
}

a, a:hover, a:visited {
	text-decoration: none;
	color: inherit;
}

.container {
	width: 100%;
	height: 100%;
}

.cus-header {
	width: 100%;
	height: 150px;
	padding: 30px 10px 30px 10px;
	vertical-align: middle;
	text-align: center;
	background-color: #FFCC66;
}

.main {
	width: 100%;
	height: calc(100% - 150px);
	padding-top: 20px;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.listPane, .numPane {
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 10px;
}

.func {
	font-family: 'Lobster', cursive;
	font-size: 3em;
	color: #FF8000;
}

.chosen {
	color: #FFFFFF;
	background: red;
}

.numResult {
	padding-top: 80px;
	color: #800040;
	height: 50px;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
	font-size: 4em;
}

/*input[type="text"] {
	height: 30px;
	font-size: 0.9em;
	font-weight: lighter;
}*/

#title {
	font-size: 4.0em;
	font-family: 'Indie Flower', cursive;
	color: #800040;
	font-weight: normal;
}

#divider {
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 4em;
	padding: 30px;
}

.col-1 {
	width: calc(100% / 12);
}

.col-2 {
	width: calc(100% / 12 * 2);
}

.col-3 {
	width: calc(100% / 12 * 3);
}

.col-4 {
	width: calc(100% / 12 * 4);
}

.col-5 {
	width: calc(100% / 12 * 5);
}

.col-6 {
	width: calc(100% / 12 * 6);
}

.col-7 {
	width: calc(100% / 12 * 7);
}

.col-8 {
	width: calc(100% / 12 * 8);
}

.col-9 {
	width: calc(100% / 12 * 9);
}

.col-10 {
	width: calc(100% / 12 * 10);
}

.col-11 {
	width: calc(100% / 12 * 11);
}

.col-12 {
	width: calc(100% / 12 * 12);
}